.intro {
background-color: rgb(91, 43, 130);
color: rgb(0, 0, 0);
}

h1 {
font-family: Verdana, sans-serif;
color: rgb(0, 0, 0);
text-align: center;
margin-top: 0;
}

p {
font-family: Georgia, serif;
color: rgb(0, 0, 0);
text-align: center;
}
